area
beautifulsoup4
folium
fpdf
geocoder
geojson
geopandas
matplotlib
numpy
ogr
osmnx
osr
pandas
Pillow
pngcanvas
pynmea
PyPDF2
pyshp
python_dateutil
rasterio
Requests
scipy
setuptools
utm
xlrd
XlsxWriter
